    <div class="form-group">
        <label class="control-label" for="form-group-input">Artist name:</label>
        <input type="text" class="metro form-control" id="form-group-input" placeholder="Artist name" ng-model="item.name">
    </div>
    <div class="form-group">
        <label class="metro control-label" for="form-group-select">Artist Genre:</label>
        <select class="metro form-control" id="form-group-select" ng-model="item.genre">
            <option></option>
            <option value="Rock">Rock</option>
            <option value="Alternative">Alternative</option>
            <option value="Rap">Rap</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="form-group-select">Artist Rating:</label>
        <select class="metro form-control" id="form-group-select" ng-model="item.rating">
            <option></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="btn-group">
        <button type="button" class="metro btn btn-default" ng-click="save()">Save</button>
        <button type="button" class="metro btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
    